doctype html
html(lang="en-us")
	head
        block head
            meta(charset="UTF-8")
            title Scraping Your News
            script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
            script(src="/public/app.js")
            link(rel="stylesheet", type="text/css", href="/public/styles.css")
